body { 
	margin:60px; 
	margin-top:25px; 
}

/* orangy color */
div#nav div#navBorder {
	background-color: #DF8F85;
}
div#searchbox #txtSearch {
	border-color: #DF8F85;
}



body { 
	font-family: Helvetica; 
	color: #404040;
}

table { border-collapse:collapse;  }
td, th { border: 1px solid #b0b0b0; padding:5px }
th { background-color: #f0faf0; }

/* nav bar */
div#nav {
	height:60px;
}
div#nav div#navBorder {
	height:4px;
	margin-top:4px;
}

div#nav a { 
	color: #a09090;
	font-size:1.1em;
	padding-right:15px;
	text-decoration:none;
	font-family:'Arial Narrow';
}
div#nav a:hover {
	text-decoration: underline;
}


/*

	SEARCH PAGE

*/

div#searchbox, #results {
	width:600px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

div#searchbox #txtSearch {
	font-size:2em;
	width:100%;
	padding:5px;
}

/*

	RESULTS
	
*/

#results { text-align:left }
#results h3 { float:left;display:block}
#results .querytime { 
	float:right; 
	font-style:italic;
	margin-top:20px;
}
#results img { margin-left:auto;margin-right:auto;display:block;margin-top:150px}

#results .r { 
	margin-bottom:10px; 
	border:1px solid #eaeaea; 
	padding:8px;
	background-color:#fafafa;
}
#results .r a {
	color: #505090;
	display:block;
	margin-bottom:2px; }

#results .r label {
	font-size:0.8em; 
	color:#707070;
}
#results .r p {
	margin:3px;margin-left:0;
	font-size:0.8em;
	color:black;
 }

#results div.links {
	float:left;
	width:77%;
}

#results div.scores {
	width:22%;
	float:right;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:0.9em;
}
#results div.scores label { display:block}


/*
SUBMIT URL
*/

#txtSubmitUrl { width:400px}

	